@using GoodMedicalApp.Domain.Models
@model IList<TreatmentReport>

<table border="1">
    <caption>Treatment reports</caption>
    <tr>
        <th>Id</th>
        <th>Treatment Id</th>
        <th>Conclusion</th>
        <th>Comment</th>
        <th>Medicines</th>
        <th>Actions</th>
    </tr>
    @foreach (var entity in Model)
    {
        <tr>
            <td>@entity.Id</td>
            <td>@entity.CurrentTreatment.Id</td>
            <td>@entity.Conclusion</td>
            <td>@entity.Comment</td>
            <td>
                @if (entity.Medicines != null && entity.Medicines.Any())
                {
                    <ul>
                        @foreach (var medicine in entity.Medicines)
                        {
                            <li>@medicine.Name</li>
                        }
                    </ul>
                }
            </td>
            <td>@Html.ActionLink("Remove","Remove", "TreatmentReport", new { id = entity.Id}, null)</td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Add treatment report", "FormTreatmentReport", "TreatmentReport")
</div>


