@using GoodMedicalApp.Domain.Models
@model IList<Operation>

<table border="1">
    <caption>Operations</caption>
    <tr>
        <th>Id</th>
        <th>Treatment Id</th>
        <th>Operation's type</th>
        <th>Medicines</th>
        <th colspan="2">Actions</th>
    </tr>
    @foreach (var entity in Model)
    {
        <tr>
            <td>@entity.Id</td>
            <td>@entity.TreatmentId</td>
            <td>@entity.CurrentTypeOperation.Name</td>
            <td>
                @if (entity.Medicines != null && entity.Medicines.Any())
                {
                    <ul>
                        @foreach (var medicine in entity.Medicines)
                        {
                            <li>@medicine.Name</li>
                        }
                    </ul>
                }
            </td>
            <td>@Html.ActionLink("Remove", "Remove", "Operation", new { id = entity.Id }, null)</td>
            <td>@Html.ActionLink("Edit", "FormUpdate", "Operation", new { id = entity.Id }, null)</td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Add operation", "FormOperation", "Operation")
</div>

