@using GoodMedicalApp.Domain.Models
@model IList<TypeOperation>

<table border="1">
    <caption>Types of Operations</caption>
    <tr>
        <th>Id</th>
        <th>Name of the type</th>
        <th colspan="2">Actions</th>
    </tr>
    @foreach (var entity in Model)
    {
        <tr>
            <td>@entity.Id</td>
            <td>@entity.Name</td>
            <td>@Html.ActionLink("Remove", "Remove", "TypeOperation", new { id = entity.Id }, null)</td>
            <td>@Html.ActionLink("Edit", "FormUpdate", "TypeOperation", new { id = entity.Id }, null)</td>
        </tr>
    }
</table>

<div>
    @Html.ActionLink("Add operation's type", "FormTypeOperation", "TypeOperation")
</div>

